
:root{
    --font:  sans-serif;
    --color: #3f79e4;
    --dark: #092032;
}

body{
    font-family: var(--font);
}

.p1 {
    text-align: justify;
  }

/* Modal */

.bgmodal{
   background: url(images/login.jpg) center/cover no-repeat;
}
.modal-body{
    border-radius: 50px !important;
}

/* Modal chatear */
.iconfoot, .text-grad{
    color:  var(--color) !important;
}

.colorgreen{
    font-size:xx-large !important;
    color:  var(--color) !important;
}


.contatoIcon{
    font-size: 6rem;
    color:  var(--color) !important;
}


.modal h1 {
    font-weight: 700;
    color: var(--dark);
}
.modal h2 {
    font-weight: 700;
    color: var(--dark);
}

.modal h5 {
    font-weight: 700;
    color: var(--dark);
}


.chat-item {
    text-align: center;
}

.chat-item .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.chat-item:hover {
    background-color: rgba(28, 108, 169, 0.2);
    
}



.chat-item h5 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/* button */
.bg-primary{
    background-color: var(--color)!important;
}


/* titulo */

#titulo{
    color: var(--color)!important;
}

img{
    border-radius: 25px;
}

/* Ajuste a todos los botones menos el de la barra de navegación */

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--color);
    color: #fff;
    border-color: var(--color);
}


.nav-link:hover{
    color: var(--color)!important;
}



/* se cambia el text primary por defecto al color */
.text-primary{
    color: var(--color)!important;
}

/* seccion carrusel */
.carousel{
    margin-top: 5rem;
}


/* Portafolio */ 

.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* banner oferta*/
#offers{
    background: url('images/promo-banner.jpg') center/cover no-repeat;
}

.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--font);
}
.offers-content .btn{
    border-color: transparent!important;
}



/* footer */
footer .brand{
    font-family: var(--font);
    letter-spacing: 2px;
}

footer a:hover{
    color: var(--color)!important;
}

.icons{
    font-size: x-large!important;
}

a{
    text-decoration: none !important;
}

.tabla{
    margin-top: 5rem !important;
}

.productForm{
    margin-top: 8rem !important;
}




/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}

/* small queries */
@media (max-width: 576px) {
    #titulo{
        font-size:small !important;
    }

    #btn-navbar{
        font-size: small !important;
    }

    .carousel-inner h1{
        font-size: 35px !important;
    }
    
    .carousel-inner h2{
        font-size: 40px !important;
    }

    .derechos{
        padding-left: 0.25rem !important;
        font-size:small;
    }

}